*{
    margin: 0;
    font-family:sans-serif; 
    padding: 0;
    box-sizing: border-box;
}

.all{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.4)), url(image/pngtree-background-masjid-coklat-png-image_648147.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
   
}



.heading{
    position:relative;
    width:40vw;
    background:#fff;
    padding: 150px 0;
    z-index: 1;

}

.heading::before{
    position: absolute;
    content:'';
    background:linear-gradient(to right,#665c4e,#a18e65);
    top:0;
    left:0;
    width: 100%;
    height: 20rem;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
}



.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}


span{
    position: absolute;
    color: #fff;
    top:3.5rem;
    left:5rem;
    font-size: 2rem;
    
}

form{
     width:350px;
     height: 250px;
     background: #fff;
     transform: translateX(200px);
     padding: 20px 0;
     border-radius: 16px;
     box-shadow: 0 0 20px rgb(53 53 53 / 60%);
}

.group{
    position: relative;
    width: 90%;
    margin: 0% auto;
    display: flex;
     align-items: baseline;
}

.group input{
    position: relative;
    width: 100%;
    border: none;
    padding: 10px 0;
   
}

.group>i{
    padding:0 10px 0 0;
    color:#a18e65;
}

.group button{
    background:linear-gradient(to right,#665c4e,#a18e65);
    border: none;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 20px;
    color: #fff;
}
.group button:hover{
    background:linear-gradient(to left,#665c4e,#a18e65);
    cursor: pointer;
}



